<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
?>

<?php
// there are two different versions of this base file depending on the magento version
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productMetadata = $objectManager->get('Magento\Framework\App\ProductMetadataInterface');
$version = $productMetadata->getVersion();
?>


    <?php

    $phoneActive = $block->getConfig('afd_phone/enable/enable') == 1 && $block->getConfig('afd_phone/forms/account') == 1;
    $phoneAttribute = $phoneActive ? "data-afd-control=\"phone\"" : "";
    $typeaheadActive = $block->getConfig('afd_typeahead/forms/account') == 1;

    function afdResultFieldAttribute($field, $active)
    {

        echo $active ? "data-afd-result=\"" . $field . "\"" : "";

    }

    ?>


    <?php
    /**
     * Edit customer address template
     *
     * @var $block \Magento\Customer\Block\Address\Edit
     */
    /** @var \Magento\Customer\Helper\Address $addressHelper */
    $addressHelper = $this->helper(\Magento\Customer\Helper\Address::class);
    $requiredAttributesPrechecked = $block->getData('required_attributes_prechecked');
    ?>
    <form class="form-address-edit" action="<?= $block->escapeUrl($block->getSaveUrl()) ?>" method="post"
          id="form-validate" enctype="multipart/form-data"
          data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
        <fieldset class="fieldset">
            <legend class="legend"><span><?= $block->escapeHtml(__('Contact Information')) ?></span></legend>
            <br>
            <?= $block->getBlockHtml('formkey') ?>
            <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>"/>
            <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>"/>
            <?= $block->getNameBlockHtml() ?>
            <?php if ($addressHelper->isAttributeVisible('company')) : ?>
                <div class="field company <?php if (in_array('company', $requiredAttributesPrechecked)) :
                    ?>required<?php endif; ?>">
                    <label class="label" for="company"><span><?= $block->escapeHtml(__('Company')) ?></span></label>
                    <div class="control">
                        <input type="text" name="company" id="company" title="<?= $block->escapeHtml(__('Company')) ?>"
                               value="<?= $block->escapeHtml($block->getAddress()->getCompany()) ?>"
                               class="input-text <?= $block->escapeHtmlAttr($addressHelper->getAttributeValidationClass('company')) ?>" <?php afdResultFieldAttribute('Company', $typeaheadActive); ?> />
                    </div>
                </div>
            <?php endif; ?>
            <?php if ($addressHelper->isAttributeVisible('telephone')) : ?>
            <div class="field telephone <?php if (in_array('telephone', $requiredAttributesPrechecked)) :
                ?>required<?php endif; ?>">
                <label class="label"
                       for="telephone"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label>
                <div class="control">
                    <input type="text" name="telephone"
                           value="<?= $block->escapeHtml($block->getAddress()->getTelephone()) ?>"
                           title="<?= $block->escapeHtml(__('Phone Number')) ?>"
                           class="input-text <?= /* @noEscape */
                           $addressHelper->getAttributeValidationClass('telephone') ?>"
                           id="telephone"
                           data-afd-additional-options="afdPhoneOptions"
                    />
                    <div for="telephone" generated="true"
                         class="afd-error mage-error"><?php echo $block->getConfig('afd_phone/fields/msg'); ?></div>
                </div>
                <?php endif; ?>
                <?php if ($addressHelper->isAttributeVisible('fax')) : ?>
                    <div class="field fax">
                        <label class="label" for="fax"><span><?= $block->escapeHtml(__('Fax')) ?></span></label>
                        <div class="control">
                            <input type="text" name="fax" id="fax" title="<?= $block->escapeHtmlAttr(__('Fax')) ?>"
                                   value="<?= $block->escapeHtml($block->getAddress()->getFax()) ?>"
                                   class="input-text <?= /* @noEscape */
                                   $addressHelper->getAttributeValidationClass('fax') ?>"/>
                        </div>
                    </div>
                <?php endif; ?>
        </fieldset>
        <fieldset class="fieldset">
            <legend class="legend"><span><?= $block->escapeHtml(__('Address')) ?></span></legend>
            <br>

            <!-- AFD Country above street option !-->
            <?php if ($block->getConfig('afd_typeahead/forms/account') == 1 && $block->getConfig('afd_typeahead/fields/countryAboveStreet') == 1) : ?>
                <div class="field country required">
                    <label class="label" for="country"><span><?= /* @noEscape */
                            $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
                    <div class="control">
                        <?= $block->getCountryHtmlSelect() ?>
                    </div>
                </div>
            <?php endif; ?>

            <!--AFD Typeahead -->
            <?php if ($block->getConfig('afd_typeahead/forms/account') == 1): ?>
                <div class="afd-typeahead-container field">
                    <label class="label"><span>Address Search</span></label>
                    <div class="afd-typeahead-field">
                        <div class="afd-typeahead-query<?php if ($block->getConfig('afd_typeahead/reverseGeocode/enable') == 1): ?> afd-typeahead-with-reverse-geocode<?php endif ?>">
                            <?php if ($block->getConfig('afd_typeahead/reverseGeocode/enable') == 1): ?>
                                <div class="reverse-geocode-container">
                                    <button class="primary action reverse-geocode-button" data-afd-control="reverseGeocodeButton" id="reverseGeocodeButton">
                                        <span><?php echo $block->getConfig('afd_typeahead/reverseGeocode/buttonText') ?></span>
                                    </button>
                                </div>
                            <?php endif ?>
                            <input
                                    class="input-text"
                                    type="search"
                                    autocomplete="off"
                                    data-afd-control="typeahead"
                                    id="typeahead"
                                    placeholder="<?php echo $block->getConfig('afd_typeahead/fields/placeholder') ?>"
                                    name="afd-search-<?php echo rand(); ?>"
                            >
                        </div>
                    </div>
                    <?php if ($block->getConfig('afd_typeahead/fields/enableManualEntryButton') == 1): ?>
                        <div class="afd-manual-input-button"
                             style="display:none"><?php echo $block->getConfig('afd_typeahead/fields/manualEntryMarkup') ?></div>
                        <div class="afd-manual-input-search-button"
                             style="display:none"><?php echo $block->getConfig('afd_typeahead/fields/manualEntrySearchMarkup') ?></div>
                        <style>
                            <?php echo $block->getConfig('afd_typeahead/fields/manualEntryCss') ?>
                        </style>
                    <?php endif ?>
                    <?php if ($block->getConfig('afd_typeahead/fields/enableSearchAgainButton') == 1): ?>
                        <div class="afd-search-again"
                             style="display:none"><?php echo $block->getConfig('afd_typeahead/fields/searchAgainMarkup') ?></div>
                        <style>
                            <?php echo $block->getConfig('afd_typeahead/fields/searchAgainCss') ?>
                        </style>
                    <?php endif ?>

                </div>
            <?php endif; ?>
            <?php if ($block->getConfig('afd_typeahead/reverseGeocode/enable') == 1): ?>
                <div class="afd-form-control">
                    <ul data-afd-control="reverseGeocodeResultsList"></ul>
                </div>
            <?php endif; ?>
            <!--/AFD Typeahead-->


            <?php $_streetValidationClass = $addressHelper->getAttributeValidationClass('street'); ?>
            <div class="field street required">
                <label for="street_1" class="label"><span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('street') ?></span></label>
                <div class="control">
                    <input
                            type="text"
                            name="street[]"
                            value="<?= $block->escapeHtml($block->getStreetLine(1)) ?>"
                            title="<?= $block->escapeHtmlAttr(__('Street Address')) ?>"
                            id="street_1"
                            class="input-text <?= /* @noEscape */
                            $_streetValidationClass ?>"
                        <?php afdResultFieldAttribute('Property', $typeaheadActive); ?>
                    />
                    <div class="nested">
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php $streetFields = ['Property', 'Street', 'Locality'] ?>
                        <?php for ($_i = 2, $_n = $addressHelper->getStreetLines(); $_i <= $_n; $_i++) : ?>
                            <div class="field additional">
                                <label class="label" for="street_<?= /* @noEscape */
                                $_i ?>">
                                    <span><?= $block->escapeHtml(__('Street Address %1', $_i)) ?></span>
                                </label>
                                <div class="control">
                                    <input type="text"
                                        <?php afdResultFieldAttribute($streetFields[$_i - 1], $typeaheadActive); ?>
                                           name="street[]"
                                           value="<?= $block->escapeHtml($block->getStreetLine($_i)) ?>"
                                           title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i)) ?>"
                                           id="street_<?= /* @noEscape */
                                           $_i ?>"
                                           class="input-text <?= /* @noEscape */
                                           $_streetValidationClass ?>"
                                    />
                                </div>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>
            </div>

            <?php if ($addressHelper->isVatAttributeVisible()) : ?>
                <div class="field taxvat">
                    <label class="label" for="vat_id"><span><?= /* @noEscape */
                            $block->getAttributeData()->getFrontendLabel('vat_id') ?></span></label>
                    <div class="control">
                        <input type="text" name="vat_id"
                               value="<?= $block->escapeHtml($block->getAddress()->getVatId()) ?>"
                               title="<?= /* @noEscape */
                               $block->getAttributeData()->getFrontendLabel('vat_id') ?>"
                               class="input-text <?= /* @noEscape */
                               $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('vat_id') ?>"
                               id="vat_id"/>
                    </div>
                </div>
            <?php endif; ?>
            <div class="field city required">
                <label class="label" for="city"><span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('city') ?></span></label>
                <div class="control">
                    <input type="text" name="city" value="<?= $block->escapeHtml($block->getAddress()->getCity()) ?>"
                           title="<?= /* @noEscape */
                           $block->getAttributeData()->getFrontendLabel('city') ?>"
                           class="input-text <?= /* @noEscape */
                           $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('city') ?>"
                           id="city" <?php afdResultFieldAttribute("Town", $typeaheadActive); ?> />
                </div>
            </div>

            <div class="field region required">
                <label class="label" for="region_id"><span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('region') ?></span></label>
                <div class="control">
                    <select id="region_id" name="region_id" title="<?= /* @noEscape */
                    $block->getAttributeData()->getFrontendLabel('region') ?>" class="validate-select region_id"
                        <?= (!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : ''; ?> data-afd-result="TraditionalCounty">
                        <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                    </select>

                    <input type="text" id="region" name="region" value="<?= $block->escapeHtml($block->getRegion()) ?>"
                           title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                           class="input-text <?= /* @noEscape */ $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('region') ?>" data-afd-result="TraditionalCounty"
                        <?= (!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : ''; ?>/>
                </div>
            </div>

            <div class="field zip required">
                <label class="label" for="zip"><span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('postcode') ?></span></label>
                <div class="control">
                    <input type="text" name="postcode"
                        <?php afdResultFieldAttribute("Postcode", $typeaheadActive); ?>
                           value="<?= $block->escapeHtml($block->getAddress()->getPostcode()) ?>"
                           title="<?= /* @noEscape */
                           $block->getAttributeData()->getFrontendLabel('postcode') ?>" id="zip"
                           class="input-text validate-zip-international <?= /* @noEscape */
                           $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('postcode') ?>"/>
                    <div role="alert" class="message warning" style="display:none">
                        <span></span>
                    </div>
                </div>
            </div>

            <?php if ($block->getConfig('afd_typeahead/forms/account') == 1 && $block->getConfig('afd_typeahead/fields/countryAboveStreet') != 1): ?>
                <div class="field country required">
                    <label class="label" for="country"><span><?= /* @noEscape */
                            $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
                    <div class="control">
                        <?= $block->getCountryHtmlSelect() ?>
                    </div>
                </div>
            <?php endif; ?>

            <?php $userDefinedAttributes = $block->getLayout()->getBlock('customer_form_address_user_attributes'); ?>
            <?php if ($userDefinedAttributes) : ?>
                <?= $userDefinedAttributes->setShowContainer(false)->toHtml() ?>
            <?php endif; ?>
            <?php if ($block->isDefaultBilling()) : ?>
                <div class="message info">
                    <span><?= $block->escapeHtml(__("This is your default billing address.")) ?></span>
                </div>
            <?php elseif ($block->canSetAsDefaultBilling()) : ?>
                <div class="field choice set billing">
                    <input type="checkbox" id="primary_billing" name="default_billing" value="1" class="checkbox"/>
                    <label class="label"
                           for="primary_billing"><span><?= $block->escapeHtml(__('Use as my default billing address')) ?></span></label>
                </div>
            <?php else : ?>
                <input type="hidden" name="default_billing" value="1"/>
            <?php endif; ?>

            <?php if ($block->isDefaultShipping()) : ?>
                <div class="message info">
                    <span><?= $block->escapeHtml(__("This is your default shipping address.")) ?></span>
                </div>
            <?php elseif ($block->canSetAsDefaultShipping()) : ?>
                <div class="field choice set shipping">
                    <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox"/>
                    <label class="label"
                           for="primary_shipping"><span><?= $block->escapeHtml(__('Use as my default shipping address')) ?></span></label>
                </div>
            <?php else : ?>
                <input type="hidden" name="default_shipping" value="1"/>
            <?php endif; ?>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action submit primary" data-action="save-address"
                        title="<?= $block->escapeHtmlAttr(__('Save Address')) ?>">
                    <span><?= $block->escapeHtml(__('Save Address')) ?></span>
                </button>
            </div>
            <div class="secondary">
                <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>">
                    <span><?= $block->escapeHtml(__('Go back')) ?></span>
                </a>
            </div>
        </div>
    </form>

    <script type="text/x-magento-init">

    {
        "#form-validate": {
            "addressValidation": {
                "postCodes": <?= /* @noEscape */
        $block->getPostCodeConfig()->getSerializedPostCodes(); ?>
            }
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */
        ($block->getConfig('general/region/display_all') ? 'true' : 'false') ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */
        $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= /* @noEscape */
        $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */
        $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }

    </script>

    <script>
        require(['jquery', 'afdPce', 'domReady!'], function ($) {
            $('#typeahead').afd('typeahead');
            $('#reverseGeocodeButton').afd('reverseGeocodeButton');
            $('#country').on('change',function(){
                window.setTimeout(function(){
                    $('#typeahead').afd('typeahead');
                    $('#reverseGeocodeButton').afd('reverseGeocodeButton');
                }, 50)
            });

            $(document).on('afd:populateResultsComplete', function(e){
                console.log(!afdOptions.magentoOptions.typeahead.zipPlusFour)
                if(!afdOptions.magentoOptions.typeahead.zipPlusFour && $(afdOptions.country.customCountryControl).val() === 'US') {
                    const originalVal = $('[data-afd-result="Postcode"]').val()
                    $('[data-afd-result="Postcode"]').val(originalVal.substr(0,5))
                }
            });
        })


    </script>

    <?php if ($phoneActive): ?>
        <script type="text/javascript">
            require(['jquery', 'afdPce', 'domReady!app/Afd/Pce/view/base/templates/afd'], function ($) {
                // todo fix this
                if (typeof window.intlTelInputUtils === 'undefined') {
                     window.intlTelInputGlobals.loadUtils('https://cdn.afd.co.uk/plugins/shared/utils.js')
                        .then(function(){
                            var pn = $('#telephone').val();
                            $('#telephone').afd('phone').val(pn);
                        });
                } else {
                    var pn = $('#telephone').val();
                    $('#telephone').afd('phone').val(pn);
                }

                /*$('#country').on('change',function(){
                    window.setTimeout(function(){
                        // $('#telephone').afd('phone');
                    }, 50)
                });*/

                $('.form-address-edit .submit')
                    .off('mousedown.afd')
                    .on('mousedown.afd', function(){
                    $('.telephone > .control > .iti').each(function(){
                        var $input = $(this).find('.input-text').first();
                        var dailCode = $(this).find('.iti__selected-dial-code').first().text();
                        if ($input.val().substring(0, dailCode.length) !== dailCode ) {
                            $input.val(dailCode + ' ' + $input.val());
                            $input.triggerHandler('change');
                        }
                    })
                })

            })

        </script>

    <?php endif ?>




